<div class="container">
    {{!-- Burger Image --}}
    <div class="row center-align">
        <img src="https://media.istockphoto.com/photos/double-cheese-burger-picture-id945057664?k=6&m=945057664&s=612x612&w=0&h=RUo4h_hgeBaExePasl-2YDhEMp4iKKScKpxX_mXlJVY=" alt="image of classic hamburger" class="circle responsive-img">
    </div>

    {{!-- Page Title --}}
    <div class="row">
        <h3 class="center-align red-text text-darken-2">Eat-Da-Burger!</h3>
    </div>

    {{!-- Added Burger column and Eaten Burger column --}}
    <div class="row">
        <div id="addedBurgers" class="col">
            {{#each burgers}}
                <div class="row">
                    <div class="card horizontal">
                        <div class="card-stacked">
                            <div class="card-content">
                                <p>{{burger}}</p>
                            </div>
                            <div class="card-action center-align">
                                <button class="btn">DEVOUR</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div id="devouredBurgers" class="col right s4">
            {{#each devouredBurgers}}
                <div class="row">
                    <div class="card-panel">{{burger}}</div>
                </div>
            {{/each}}
        </div>
    </div>

    {{!-- Text area --}}
    <div class="row"></div>

    {{!-- Submit Button --}}
    <div class="row center-align">
        <button class="btn white red-text">SUBMIT</button>
    </div>


    <div class="row"></div>
</div>