<div class="container">
    {{!-- Burger Image --}}
    <div class="row center-align">
        <img src="https://media.istockphoto.com/photos/double-cheese-burger-picture-id945057664?k=6&m=945057664&s=612x612&w=0&h=RUo4h_hgeBaExePasl-2YDhEMp4iKKScKpxX_mXlJVY=" alt="image of classic hamburger" class="circle responsive-img">
    </div>

    {{!-- Page Title --}}
    <div class="row">
        <h3 class="center-align red-text text-darken-2">Eat-Da-Burger!</h3>
    </div>

    {{!-- Added Burger column and Eaten Burger column --}}
    <div class="row">
        <div id="addedBurgers" class="col s3 offset-s3">
            {{#each burgers}}
                <div class="row">
                    <div class="card horizontal">
                        <div class="card-stacked center-align">
                            <div class="card-content">
                                <p>{{burger}}</p>
                            </div>
                            <div class="card-action">
                                <button class="btn devour black red-text" data-burgerid={{id}}>DEVOUR</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}
        </div>

        <div id="devouredBurgers" class="col s3 offset-s1">
            {{#each devouredBurgers}}
                <div class="row center-align">
                    <div class="card-panel">{{burger}}</div>
                </div>
            {{/each}}
        </div>
    </div>

    {{!-- Text area --}}
    <div class="row center-align">
        <div class="input-field">
            <input placeholder="Add a burger!" id="newBurger" name="burger" type="text">
        </div>
    </div>

    {{!-- Submit Button --}}
    <div class="row center-align">
        <button id="submit" class="btn white red-text">SUBMIT</button>
    </div>


    <div class="row"></div>
</div>

<script>
    // submit button
    $("#submit").on("click", function(event) {
        console.log($("#newBurger").val())

        $.ajax("/api/burgers", {
            type: "POST", 
            data: {burger: $("#newBurger").val()} 
        }).then(function() {
            console.log("added new burger");
            location.reload()
        })
    })

    // devour button
    $(".devour").on("click", function(event) {

        $.ajax("/api/burgers/" + $(this).data("burgerid"), {
            type: "PUT"
        }).then(function() {
            location.reload()
        }
        )
    })
</script>